.header{
    display: flex;
    align-items: center;
    color: black;
    justify-content: space-between;

    &__navigation{
        display: flex;
        align-items: center;
        gap: 10px;
    }
}

.logo{
    color: white;
    font-weight: 800;
    font-size: 28px;
}
