.layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1;
  padding: 24px;
  background: #bfbfbf;
}

.footer {
  background: #4096ff !important;
  text-align: center;
}